@page "/program/delete/{programId}"
@using ReimbursementPoC.Blazor.UI.Model;
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize(Roles = "Admin")]
<h2>Delete Program</h2>
<br />

<div class="form-group">
    <h4>Do you want to delete this Program?</h4>
    <table class="table">
        <tbody>
            <tr>
                <td>Name</td>
                <td>@program.Name</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>@program.Description</td>
            </tr>
            <tr>
                <td>State</td>
                <td>@program.State</td>
            </tr>
            <tr>
                <td>Start Date</td>
                <td>@program.StartDate</td>
            </tr>
            <tr>
                <td>End Date</td>
                <td>@program.EndDate</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="form-group">
    <input type="submit" value="Delete" @onclick="(async () => await RemoveUser(program.Id))" class="btn btn-danger" />
    <input type="submit" value="Cancel" @onclick="(() => Cancel())" class="btn btn-warning" />
</div>

@code {
    [Parameter]
    public string programId { get; set; }
    ProgramEntityItem program = new ProgramEntityItem();

    protected override async Task OnInitializedAsync()
    {
        program = await Http.GetFromJsonAsync<ProgramEntityItem>("/program/api/programs/" + programId);
    }

    protected async Task RemoveUser(Guid id)
    {
        var result = await Http.DeleteAsync("/program/api/programs/" + id);
        if (result.IsSuccessStatusCode)
        {

            NavigationManager.NavigateTo("/program/list");
        }
        else
        {
            
        }
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("/program/list");
    }
}