@page "/program/add"
@using Microsoft.AspNetCore.Authorization;
@using ReimbursementPoC.Blazor.UI.Model;
@inject HttpClient Http
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Admin")]
<h1>Add Program</h1>
<hr />

@if (!string.IsNullOrWhiteSpace(Notification))
{
    <div class="col-md-4 text-success">
        @Notification
    </div>
}
@if (!string.IsNullOrWhiteSpace(Error))
{
    <div class="col-md-4 text-danger">
        @Error
    </div>
}

<EditForm Model="@program" OnValidSubmit="SaveProgram">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="program.Name" />
        </div>
        <ValidationMessage For="@(() => program.Name)" />
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="program.Description" />
        </div>
        <ValidationMessage For="@(() => program.Description)" />
    </div>

    <div class="mb-3">
        <label for="State" class="form-label">State</label>
        <div class="col-md-4">
            <InputSelect @bind-Value="program.StateId">
                <option value="0">Select state ...</option>
                <option value="1">Alabama</option>
                <option value="2">Alaska</option>
            </InputSelect>
        </div>
        <ValidationMessage For="@(() => program.StateId)" />
    </div>

    <div class="mb-3">
        <label for="StartDate" class="form-label">Start Date</label>
        <div class="col-md-4">
            <InputDate @bind-Value="@program.StartDate" @bind-Value:format="dd/MM/yyyy" />
        </div>
        <ValidationMessage For="@(() => program.StartDate)" />
    </div>

    <div class="mb-3">
        <label for="EndDate" class="form-label">End Date</label>
        <div class="col-md-4">
            <InputDate @bind-Value="@program.EndDate" @bind-Value:format="dd/MM/yyyy" />
        </div>
        <ValidationMessage For="@(() => program.EndDate)" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-light" @onclick="Cancel">Cancel</button>
    </div>

</EditForm>

@code {
    [Parameter]
    public string programId { get; set; }

    public string Notification { get; set; }
    public string Error { get; set; }

    protected string Title = "Add";
    protected CreateProgramRequest program = new CreateProgramRequest
        {
            StartDate = DateTime.UtcNow,
            EndDate = DateTime.UtcNow.AddYears(1)
        };


    protected async Task SaveProgram()
    {
        var result = await Http.PostAsJsonAsync("/administration/api/programs", program);

        if (result.IsSuccessStatusCode)
        {
            Error = "";
            Notification = "Program was succesfully created";

            Task.Run(async () =>
            {
                await Task.Delay(TimeSpan.FromSeconds(3));
                NavigationManager.NavigateTo("/program/list");
            });
        }
        else
        {
            Error = $"Error: {await result.Content.ReadAsStringAsync()}";
        }
    }

    public void Cancel()
    {
        NavigationManager.NavigateTo("/program/list");
    }
}